.home-spotify {
	background-color: $grey;
	width: 100%;
	margin-top: -60px;
	position: relative;
	z-index: 4;
	padding: 60px 40px;
	text-align: center;
	iframe {
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
	}
	@media (max-width: $bp-laptop) {
		z-index: 3;
		padding: 20px;
	}
}
.copyright {
	width: 100%;
	padding: em(20);
	background: $light-black;
	text-align: center;
	color: rgba(255,255,255,0.7);
	letter-spacing: 0.025em;
	font-size: $font-size-small;
	position: relative;
	z-index: 3;
}