//////// False backgrounds

.top-bar {
	height: em(280);
	border-top: solid 10px $light-grey;
	background: radial-gradient(ellipse at left bottom, #585858 0%,#343434 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	position: absolute;
	z-index: 3;
	width: 100%;
	@media (max-width: $bp-laptop) {
		height: em(116);
		border-top: solid 6px $light-grey;
	}
}
.diagonal-container {
	width: 100%;
	min-height: 100%;
	position: relative;
	z-index: 3;
	padding-bottom: 100px;
}
.diagonal {
	position: absolute;
	height: 100%;
	width: 90%;
	background: white;
	transform: skewX(-19deg);
	top: 0;
	left: 40%;
	z-index: 3;
	@media (max-width: $bp-laptop) {
		top: em(116);
		width: 300%;
		left: 10%;
	}
}
.nav-background {
	position: absolute;
	width: 52%;
	right: -2%;
	height: em(70);
	background: $light-grey;
	transform: skewX(-19deg);
	z-index: 4;
	@media (max-width: $bp-laptop) {
		width: 100px;
		right: -10px;
		background: white;
	}
}
.nav-shadow {
	position: absolute;
	width: 52%;
	right: -2%;
	height: em(70);
	background: $grey;
	transform: skewX(-19deg) translateY(10px);
	z-index: 3;
	@media (max-width: $bp-laptop) {
		width: 100px;
		right: -15px;
		background: $light-grey;
	}
}

//////// Containers 

.wrapper {
	min-height: 100%;
	position: relative;
	z-index: 3;
	width: 100%;
	padding: 0 40px;
	@media (max-width: $bp-tablet) {
		padding: 0 20px;
	}
}
.container {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding-top: em(190);
	position: relative;
	z-index: 5;
	@media (max-width: $bp-laptop) {
		padding-top: em(150);
	}
}
.content {
	padding-top: 60px;
	@media (max-width: $bp-laptop) {
		padding-top: 0;
	}
}